.quiz {
    margin: 2rem;
}


.auth-form-container {
    width: 80vw;
    height: 70vh;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 10px;
    margin: 1rem;
    align-content: center;
}

.cardCss {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 1rem;
    justify-content: space-around;
}

.option input {
    width: fit-content;
}

.headings {
    font-size: 5rem;
    font-weight: 400;
    margin-top: 50px;
}

.buttonEdit {
    border: none;
    background-color: rgb(200, 243, 245);
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(157, 76, 237);

}

@media only screen and (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    .cardCss {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin: 1rem;
        justify-content: space-around;
    }

    form .user__details .input__box {
        margin-bottom: 15px;
        width: 90%;
    }

    .option input {
        width: fit-content;
    }

    .headings {
        font-size: 3rem;
        margin: 15px;
    }
}